html, body {
    height:100%;
}

body {
    display:flex;
    flex-direction:column;
   
     font-family: "Inter", sans-serif;
     font-size: 20px;
     line-height: 140%;
     letter-spacing: -0.5px;
  
     color:#385159;
}

main {
    flex: 1 0 auto;
}


footer {
    flex-shrink:0;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.pattern-bg {
background-image: 
              url(../images/pattern-light-bg.svg),
              url(../images/pattern-glow.svg);
background-position: 
                    center top,
                    right -600px bottom -450px;
background-repeat: no-repeat;

background-color: #FFF5EF;

}

.club-photo img {
    width: 100%;
    height:auto;
    border-radius:10px;
}

.join-club {
    padding:24px 16px 80px 16px;
    display:flex;
    flex-direction: column;
}

h1 {
    font-size:62px;
    letter-spacing:-2px;
    line-height: 120%;
     font-family: "Martian Mono", monospace;

    background: -webkit-linear-gradient(-45deg, #FF9A60 11%, #062630 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
  font-weight:bold;
}

.logo {
    margin-bottom: 48px;
}

.join {
    margin-bottom: 32px;
}

button {
    padding: 21px 23px;
    text-transform: uppercase;
    width: 100%;
    background-color: #FFF5EF;
    color:#062630;
    border: 3px solid #062630;
    box-shadow:none;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -1px;
     font-family: "Martian Mono", monospace;
     font-weight: 600;
     border-radius:10px;
     display:flex;
     align-items:center;
     justify-content: center;
}

.review img {
    width: 24px;
    height: 24px;
    margin-left: 16px;
  
}
.review {
    margin-bottom:20px;
}

.stats {
    display:flex;
    flex-direction:row;
    font-size: 14px;
     font-family: "Martian Mono", monospace;
     line-height:120%;
     letter-spacing:-1px;
     font-weight:600;
     width: 100%;
 
}

.stats-photo {
    margin-right: 12px;
   
    flex-basis:30%;
    padding-top: 11px;
    padding-bottom: 11px;
   
}
.stats-photo img {
    width:100%;
}

.stats-rating {
   
    flex-basis:70%;
}

.stars {
    margin-bottom: 4px;
}

.club-photo {
    margin-top:64px;
   
}


h2 {
    font-size: 34px;
    line-height: 130%;
    letter-spacing: -2px;
    font-family: "Martian Mono", monospace;
    color: #062630;
    margin-bottom: 24px;
    font-weight:600;
}

.read-together, .your-journey {
    margin-top: 64px;
    margin-bottom: 40px;
    padding: 0 16px;
   
}

.benefit-item {
    display:flex;
    margin-top:16px;
    
}

.benefit-item img {
    padding: 14px 14px 14px 0;
}

.read-together-photo {
    width:100%;

}
.read-together-photo img, .not-average img {
    width: 100%;
    height:auto;
    margin-top:40px;
    border-radius:15px;
}

.not-average {
    margin-top: 64px;
    margin-bottom: 64px;
    padding-left:16px;
    padding-right:16px;
}

.language {
    font-weight:bold;
}

.pattern {
    background-image: url(../images/pattern-circle.png);
    
    background-repeat: no-repeat;
    background-size: contain;
}

.step {
    display:flex;
    flex-direction:column;
    margin-bottom: 22px;
}

.step-number { 
    border: 2px solid #062630;
    border-radius:4px;
    width:32px;
    height:32px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:15px;
}

.steps {
    font-size: 16px;
    color: #062630;
    letter-spacing:-1px;
     font-family: "Martian Mono", monospace;
     font-weight:600;
}

.your-journey  {
    padding-top:64px;
    padding-bottom: 64px;
}